.custom-class{
  background-color: gray
}

.default-color{
  background-color: red
}
  
 <ion-view view-title="Votes by cuisine" ng-init="refresh()">
   <ion-content>
    

	<form class="form-horizontal" role="form">	
		<div class="form-group clearfix bottom-margin2-xs">
		  <label for="voterChoice" class="col-sm-3 control-label text-right">Show votes for</label>
		  <div class="col-sm-8">
		   <div class="input-field-select-wrapper">
		      <select class="input-field-select" ng-model="selection.voterChoice" id="voterChoice" ng-change="showSelectValue(selection.voterChoice)">
		        <option>All</option>
		        <option>Indian</option>
		        <option>French</option>
		        <option>Mexican</option>
		        <option>Turkish</option>
		        <option>English</option>
		        <option>Japanese</option>
		        <option>Chinese</option>
		        <option>Italian</option>
		      </select>
		    </div>
		  </div>
		</div>

	</form>
    
 
  	  <button class="btn btn-primary" ng-click="castVote()">
  					Cast your Vote
		  </button>

    <table class="table" style="margin-top:-30px" style="background:none">

      <tr>
      	<!-- 
        <th scope="col" style="text-align:right !important">Amount</th>
         -->
        <th scope="col">Voter Choice</th>
        <th scope="col">Voter Name</th>
        <th scope="col">Voter Phone</th>
        <th scope="col">Voter Email</th>
        <th scope="col">Vote Timestamp</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>

      <tbody>

        <ion-list>

          <ion-item style="border:none;margin:0; height:10px;background:none">

            <tr ng-repeat="vote in votes | orderBy:'-votetimeStamp'">
              <td>{{vote.voterChoice}}</td>
              <td>{{vote.name}}</td>
              <td>{{vote.phone}}</td>
              <td>{{vote.email}}</td>
              <td>{{vote.votetimeStamp}}</td>
 
            </tr>
		
    		  </ion-item>

        </ion-list>

      </tbody>

    </table>

  </ion-content>
</ion-view> 
  
